<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <% unless @current_language.nil? %>
          <p>You are seeing trending repositories for: <%= @current_language %></p>
        <% end %>
        <table class="table table-striped table-responsive">
          <thead>
            <tr>
              <th>Language</th>
              <th>Forks count</th>
              <th>Watchers count</th>
              <th>Name</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          <% repositories.each do |repository| %>
            <tr>
              <td><%= repository.language %></td>
              <td><%= repository.forks_count %></td>
              <td><%= repository.watchers_count %></td>
              <td><%= repository.name %></td>
              <td><%= link_to 'Show', repository, class: 'btn btn-outline-danger btn-round' %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
