<%= render 'head', languages: @languages %>

<div class="section section-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 text-center">
        <h2><%= @repository.name %> / <%= @repository.language %></h2>

        <p>
          <strong>Github ID:</strong>
          <%= @repository.github_id %>
        </p>

        <p>
          <strong>Forks count:</strong>
          <%= @repository.forks_count %>
        </p>

        <p>
          <strong>Description:</strong>
          <%= @repository.description %>
        </p>

        <p>
          <strong>Watchers count:</strong>
          <%= @repository.watchers_count %>
        </p>

        <p>
          <strong>Url:</strong>
          <%= @repository.url %>
        </p>

        <%= link_to 'Back', repositories_path %>

      </div>
    </div>
  </div>
</div>
